/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/ols.clj~
/project.clj~
/src/ml_clj/core.clj~
/.DS_Store
/src/ml_clj/ols.clj~
/test/ml_clj/ols_test.clj~
